.legend {
    line-height: 18px;
    color: #555;
    min-width: 15ch;
    font: 12px/14px Arial, Helvetica, sans-serif;

    &_color {
        padding: 1px 2px;
    }
    &_text {
        padding: 1px 2px;
    }
    &_text.left {
        text-align: right;
    }
    &_text.right {
        text-align: left;
    }
    &_text_selected {
        font-weight: bold;
    }

    &_selected {
        border-style: solid;
        border-left-width: 1px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        padding: 1px 2px;
    }

    &_not_selected {
        border-style: solid;
        border-left-width: 1px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        padding: 1px 2px;
    }

    &_row_selected {
        background: rgba(243,243,243,0.9);
    }
}

.legend i {
    padding: 1px 10px;
    width: 18px;
    height: 18px;
    float: left;
    opacity: 0.7;
}
