.wrapper {
    display: flex;
    height: 100%;
    align-items: stretch;
}

#map {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.navbar {
    align-self: center;
    position: absolute;
    z-index: 1000;
}