
$base-color: #BFBCCB;
$text-color: #fff;
$header-color: #343a40;

.sidebar {
    background: $base-color;
    color: #fff;
    transition: all 0.1s;
    border-style: solid;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 1px;
    border-color: darken($base-color, 25%);

    &.active {
        @extend .sidebar;
        min-width: 250px;
        max-width: 250px;
    }

    &.collapsed {
        @extend .sidebar;
        min-width: 70px;
        max-width: 70px;
        text-align: center;
    }

    &__header {
        padding-left: 5px;
        padding-right: 5px;

        & .row {
            width: 100%;
            margin: 0 0px;
            align-items: center;

            & h3 {
                margin: 0 0px;
            }

        }
    }
}
