
$base-color: #BFBCCB;
$text-color: #fff;
$header-color: #343a40;

.sidebar {
    &.active .sidecontent {
        background: $base-color;
        color: #fff;
        transition: all 0.1s;
        border-style: solid;
        border-left-width: 1px;
        border-bottom-width: 1px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-color: darken($base-color, 25%);
        min-width: 250px;
        border-radius: 5px;
    }

    &.collapsed {
        @extend .sidebar;
        text-align: center;

        & .sidecontent {
            display: none
        }
    }

    & .sideicon {
        background: darken($base-color, 25%);
        display: flex;
        flex-direction: column;
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-top-width: 0px;
        border-right-width: 1px;
        height: fit-content;
        border-radius: 10px;

        & .btn-outline-light {
            border-color: transparent;
            border-radius: 10px;
        }

        & .btn-outline-light:hover {
            border-radius: 10px;
        }
    }
}
